<footer id="footer" class="container">
    <div id="copyright">
        <ul class="menu">
            <li>&copy; 2018 SESSION Project@NCU IM. All rights reserved</li>
        </ul>
    </div>
</footer>
