{% if is_login %}
<li><a class="menu_font"><span>嗨，{{ user_profile.name }}</span></a></li>
<li><a href="/favorites"><img src="/images/13.png" class="index_bar_icon"></a></li>
<li><a href="/member"><img src="/images/12.png" class="index_bar_icon"></a></li>
<li><a href="/logout"><img src="/images/exit.png" class="index_bar_icon"></a></li>
{% else %}
<li><a href="/login"><span>登入</span></a></li>
<li><a href="/register"><span>註冊</span></a></li>
{% endif %}
