<!DOCTYPE html>
<html>

<head>
  <title>SESSION｜展覽資訊</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}
</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">

      <div id="logo">
        <a href="/index"><img src="images/logo.png" width="250" height="65"></a>
      </div>
      <nav id="nav">
        <ul>
          {% include "app/header.html" %}
        </ul>
      </nav>

    </div>

    <div id="banner">
      <div class="container">
        <div class="index_query">
          <div class="row">
            <section class="12u">
              <header>
                <br>
                <h2><span>你想找什麼主題的活動呢？</span></h2>
                <br>
                <img src="images/01.png" class="index_icon" />
                <input type="text" class="hei index_input" id="location" placeholder="&nbsp&nbsp想去哪（位置）？" />
                <br>
                <img src="images/02.png" class="index_icon" />
                <input type="text" class="hei index_input" id="title" placeholder="&nbsp&nbsp想看什麼活動（名稱）？" />
                <br>
                <span class="index_advance"><a class="font1" id="aaa" name="aaa" onclick="$('#divShow').show();" href="#">進階搜尋</a></span>
                <br>

                <div class="index_advance_panel" id="divShow" name="divShow">
                  <div class="index_date_panel">
                    <p class="font2">
                      <span>活動起始日期：</span>
                      <input type="date" name="bday" id="start_time" class="hei2">
                      <span>活動結束日期：</span>
                      <input type="date" name="bday1" id="end_time" class="hei1">
                    </p>
                  </div>
                  <br>

                  <div class="index_category_panel">
                    <div class="checkbox-box text_left">
                      <span class="category_title">類型：
                      </span><br>
                      <input type="checkbox" name="category" value="1" id="checkbox1"><label for="checkbox1">
                        <span class="index_category">音樂</span>
                      </label>
                      <input type="checkbox" name="category" value="2" id="checkbox2"><label for="checkbox2">
                        <span class="index_category">戲劇</span>
                      </label>
                      <input type="checkbox" name="category" value="3" id="checkbox3"><label for="checkbox3">
                        <span class="index_category">舞蹈</span>
                      </label>
                      <input type="checkbox" name="category" value="4" id="checkbox4"><label for="checkbox4">
                        <span class="index_category">親子</span>
                      </label>
                      <input type="checkbox" name="category" value="5" id="checkbox5"><label for="checkbox5">
                        <span class="index_category">獨立音樂</span>
                      </label>
                      <br>
                      <input type="checkbox" name="category" value="6" id="checkbox6"><label for="checkbox6">
                        <span class="index_category">展覽</span>
                      </label>
                      <input type="checkbox" name="category" value="7" id="checkbox7"><label for="checkbox7">
                        <span class="index_category">講座</span>
                      </label>
                      <input type="checkbox" name="category" value="8" id="checkbox8"><label for="checkbox8">
                        <span class="index_category">電影</span>
                      </label>
                      <input type="checkbox" name="category" value="11" id="checkbox11"><label for="checkbox11">
                        <span class="index_category">綜藝</span>
                      </label>
                      <input type="checkbox" name="category" value="13" id="checkbox13"><label for="checkbox13">
                        <span class="index_category">競賽</span>
                      </label>
                      <br>
                      <input type="checkbox" name="category" value="14" id="checkbox14"><label for="checkbox14">
                        <span class="index_category">徵選</span>
                      </label>
                      <input type="checkbox" name="category" value="16" id="checkbox16"><label for="checkbox16">
                        <span class="index_category">綜合</span>
                      </label>
                      <input type="checkbox" name="category" value="19" id="checkbox19"><label for="checkbox19">
                        <span class="index_category">教學</span>
                      </label>
                      <input type="checkbox" name="category" value="15" id="checkbox15"><label for="checkbox15">
                        <span class="index_category">其他</span>
                      </label>
                      <input type="checkbox" name="category" value="17" id="checkbox17"><label for="checkbox17">
                        <span class="index_category">演場會</span>
                      </label>

                    </div>
                  </div>

                </div>
                <br>

                <a class="button button-alt" id="search"><span class="index_query_button">搜尋活動</span></a>

              </header>
              <br><br><br><br><br>
            </section>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  {% include "app/footer.html" %}

  <!-- JavaScript -->
  {% include "app/js.html" %}

  <script type="text/javascript">
    $(function () {
      $("#divShow").hide();

      $('body').click(function (evt) {
        if ($(evt.target).parents("#divShow").length == 0 &&
          evt.target.id != "aaa" && evt.target.id != "divShow") {
          $('#divShow').hide();
        }
      });

      $('#search').on('click', search);

      function verification(data) {
        var error_list = [];
        var verified_data = data;

        // 驗證無特殊符號
        var reg = /[\u4e00-\u9fa5^a-zA-Z0-9]/;
        var regExp = new RegExp(reg);
        if (data['title'] != '' && !regExp.test(data['title']))
          error_list.push("活動名稱格式不正確，不能包含特殊符號");
        if (data['where'] != '' && !regExp.test(data['where']))
          error_list.push("地點格式不正確，不能包含特殊符號");

        // 日期不能為空白
        var today = new Date();
        if (data['start'] === '')
          verified_data['start'] = "1990-01-01";

        if (data['end'] === '')
          verified_data['end'] = "9999-12-31";

        // 起始日期不能大於結束日期
        if (data['start'] > data['end']) {
          [verified_data['start'], verified_data['end']] = [verified_data['end'], verified_data['start']];
        }

        // 驗證日期格式
        reg = /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
        regExp = new RegExp(reg);

        if (!regExp.test(verified_data['start']))
          error_list.push("起始日期格式不正確，正確格式為：XXXX-XX-XX");
        if (!regExp.test(verified_data['end']))
          error_list.push("結束日期格式不正確，正確格式為：XXXX-XX-XX");

        var result = {
          "error_list": error_list,
          "verified_data": verified_data
        };
        return result;
      }

      function search() {
        // 抓取欄位資料
        let location = $('#location').val();
        let title = $('#title').val();
        let start_time = $('#start_time').val();
        let end_time = $('#end_time').val();
        let category = new Array();
        $('input:checkbox:checked[name="category"]').each(function (i) { category[i] = this.value; });

        //組合資料
        var condition = {
          "title": title,
          "where": location,
          "categories": category.toString(),
          "start": start_time,
          "end": end_time
        }

        var veried_result = verification(condition);
        if (veried_result.error_list.length != 0) {
          console.log(veried_result.error_list);
          let alertMsg = "";
          for (let error of veried_result.error_list) {
            alertMsg += error + "\n";
          }
          alert(alertMsg);
          return;
        }

        let url = '/exhibitions?';
        $.each(veried_result.verified_data, function (key, value) {
          url = url + key + '=' + value + '&&';
        });

        window.location.href = url;
      }
    });


  </script>
</body>

</html>
