<script src="/js/jquery.min.js"></script>

<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="/js/skel.min.js"></script>
<script src="/js/skel-panels.min.js"></script>
<script src="/js/init.js"></script>
<!-- ajax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
