<!DOCTYPE HTML>
<html>

<head>
  <title>SESSION｜會員收藏</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}

  {% include "app/js.html" %}
  <script src="/static/js/like.js"></script>
</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">
        <div id="logo">
          <h1><a href="index.html"><img src="images/logo.png" width="250" height="65"></a></h1>
        </div>
        <nav id="nav">
          <ul>
            {% include "app/header.html" %}
          </ul>
        </nav>
      </div>

    <div id="banner">
      <div class="index_query">

        <br>
        <h2>
          <img src="images/10.png" class="title_icon">
          <span class="title_font"> &nbsp個人收藏列表&nbsp </span>
          <img src="images/10.png" class="title_icon">
        </h2>


        <div class="index_query_block">

          {% if favorite_list %}

            {% for favorite in favorite_list %}
              <div class="gallery">
                <div class="index_content_font">
                  類別：{{favorite.categoryName}} | {{favorite.categoryId}}
                </div>
                <a href="/exhibitions/{{favorite.UID}}">
                  <img src="images/checkbox{{favorite.categoryId}}.png">
                </a>
                <br>
                <div class="desc">
                    {{favorite.title}}
                </div>
                <p id="{{ favorite.UID }}" class="favorite like1">&#10084;</p>
              </div>
            {% endfor %}

          {% else %}
           <h2 class="message">尚無個人收藏</h2>
          {% endif %}
          <div class="clear"></div>
        </div>

      </div>

    </div>
  </div>
  <!-- footer -->
  {% include "app/footer.html" %}
</body>

</html>
