<!DOCTYPE HTML>
<html>

<head>
  <title>SESSION｜會員登入</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}
  <!-- JavaScript -->
  {% include "app/js.html" %}
  <script src="/static/js/login.js"></script>
</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">

      <div id="logo"><a href="/index"><img src="images/logo.png" width="250" height="65"></a></div>
      <nav id="nav">
        <ul>
          <li class="current_page_item"><a href="/login">
              <font face="微軟正黑體" size="4"><span style="font-weight:bold;">登入</span></font>
            </a></li>
          <li><a href="/register">
              <font face="微軟正黑體" size="4"><span style="font-weight:bold;">註冊</span></font>
            </a></li>
        </ul>
      </nav>

    </div>

    <div id="banner">
      <div class="container">
        <div style="padding:10px;background-color:white;opacity:0.65;height:470px">
          <div class="row"><br>
            <class="image-style1" align=left><img src="images/03.png" width="800" height="400">


              <div style="padding:20px;background-color:#FFDDAA;opacity:0.85;position:relative;width:33%;margin-left:810px;top:-407px;height:387px;border-width:3px;border-style:dashed;border-color:#000000;">

                <br>

                <h2>
                  <center>
                    <img src="images/10.png" width="35" height="32" align="center">
                    <font face="微軟正黑體" color="	#000000" size="6"><span style="font-weight:bold">&nbsp登入&nbsp</span></font>
                    <img src="images/10.png" width="35" height="32" align="center">
                  </center>
                </h2>

                <br>

                <ul class="style4">
                  <li class="first">
                    <font face="微軟正黑體" size="5" color="#000000">
                      <center><span style="font-weight:bold;">帳號：</span>
                        <input type="text" id="accountInput" border="2px" class="hei3" placeholder="&nbsp帳號是你的信箱喔"
                          style="background-color:#FFFFFF" onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
                    </font>
                  </li>
                  <li class="first">
                    <font face="微軟正黑體" size="5" color="#000000">
                      <center><span style="font-weight:bold;">密碼：</span>
                        <input type="password" id="passwordInput" border="2px" class="hei3" placeholder="&nbsp你的密碼喔喔喔喔"
                          style="background-color:#FFFFFF" onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
                    </font>
                  </li>

                </ul>

                <center>
                  <button id="loginButton" class="button button-alt"><span style="font-weight:bold">
                      <font face="微軟正黑體">登入</font>
                    </span></button>
                </center>
              </div>

              <br><br><br><br><br>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  {% include "app/footer.html" %}

</body>

</html>
