<!DOCTYPE HTML>
<html>
<head>

  <title>SESSION｜個人資料</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}
  <!-- JavaScript -->
  {% include "app/js.html" %}
  <script src="/static/js/profile.js"></script>
  <noscript>
    <link rel="stylesheet" href="static/css/session.css" />
  </noscript>

</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">
      <div id="logo">
        <h1><a href="index.html"><img src="images/logo.png" width="250" height="65"></a></h1>
      </div>
      <nav id="nav">
        <ul>
          {% include "app/header.html" %}
        </ul>
      </nav>
    </div>

    <div id="banner">
      <div class="container">
        <div class="index_query">

          <img src="images/04.png"  width="330" height="430" align=left>
          <img src="images/05.png"  width="360" height="430" align=right>

          <br>

          <h2>
            <img src="images/10.png" class="index_title_icon" >
            <span class="index_profile_font">個人資料</span>
            <img src="images/10.png" class="index_title_icon" >
          </h2>

          <br>

          <ul class="style4">

            <li>
              <span class="index_profile_font">你的信箱：</span>
              <input type="text" class="hei4 index_input" id="emailInput" value="{{ user_profile.account }}" readonly="readonly">
            </li>

            <br>

            <li>
              <span class="index_profile_font">你的名字：</span>
              <input type="text"  class="hei4 index_input" id="nameInput" value="{{ user_profile.name}}">
            </li>

            <br>

            <li>
              <span class="index_profile_font">舊的密碼：</span>
              <input type="password" class="hei4 index_input" id="oldPasswordInput" placeholder="有要改再輸入喔喔喔">
            </li>

            <br>

            <li id="newPasswordLi" hidden>
              <span class="index_profile_font">新的密碼：</span>
              <input type="password" class="hei4 index_input" id="newPasswordInput" placeholder="輸入新的密碼喔喔喔">
            </li>

          </ul>

          <button class="button button-alt" id="saveButton"><span class="index_query_button">儲存</span></button>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
