<!DOCTYPE HTML>
<html>

<head>
  <title>SESSION｜會員註冊</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}
  <!-- JavaScript -->
  {% include "app/js.html" %}
  <script src="/static/js/register.js"></script>
</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">
      <div id="logo"><a href="/index"><img src="images/logo.png" width="250" height="65"></a></div>
      <nav id="nav">
        <ul>
          <li><a href="/login">
              <font face="微軟正黑體" size="4"><span style="font-weight:bold;">登入</span></font>
            </a></li>
          <li class="current_page_item"><a href="/register">
              <font face="微軟正黑體" size="4"><span style="font-weight:bold;">註冊</span></font>
            </a></li>
        </ul>
      </nav>
    </div>

    <div id="banner">
      <div class="container">
        <div style="padding:10px;background-color:white;opacity:0.65;height:470px">

          <img src="images/04.png" width="330" height="430" align=left>
          <img src="images/05.png" width="360" height="430" align=right>

          <br>

          <h2>
            <img src="images/10.png" width="35" height="32" align="center">
            <font face="微軟正黑體" color="	#444444" size="6"><span style="font-weight:bold;">&nbsp註冊&nbsp</span></font>
            <img src="images/10.png" width="35" height="32" align="center">
          </h2>

          <br>

          <ul class="style4">
            <li class="first">
              <img src="images/06.png" width="35" height="30" align=left>
              <font face="微軟正黑體" size="5" color="#444444">
                <center><span style="font-weight:bold;">你叫什麼：</span>
                  <input id="nameInput" type="text" border="2px" class="hei4" placeholder="&nbsp暱稱、本名都行喔" style="background-color:#FFFFFF"
                    onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
              </font>
            </li>

            <br>

            <li class="first">
              <img src="images/07.png" width="35" height="32" align=left>
              <font face="微軟正黑體" size="5" color="#444444">
                <center><span style="font-weight:bold;">你的信箱：</span>
                  <input id="emailInput" type="text" border="2px" class="hei4" placeholder="&nbsp帳號就是你的信箱喔" style="background-color:#FFFFFF"
                    onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
              </font>
            </li>

            <br>

            <li class="first">
              <img src="images/08.png" width="35" height="32" align=left>
              <font face="微軟正黑體" size="5" color="#444444">
                <center><span style="font-weight:bold;">你的密碼：</span>
                  <input id="passwordInput" type="password" border="2px" class="hei4" placeholder="&nbsp你的密碼喔喔喔喔" style="background-color:#FFFFFF"
                    onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
              </font>
            </li>

            <br>

            <li class="first">
              <img src="images/09.png" width="35" height="32" align=left>
              <font face="微軟正黑體" size="5" color="#444444">
                <center><span style="font-weight:bold;">確認密碼：</span>
                  <input id="passwordCheckInput" type="password" border="2px" class="hei4" placeholder="&nbsp你的密碼喔喔喔喔"
                    style="background-color:#FFFFFF" onfocus="style.backgroundColor='#FFFFBB'" onblur="style.backgroundColor='#FFFFFF'"></center></b>
              </font>
            </li>
          </ul>

          <br>

          <center>
            <button class="button button-alt" id="registerButton"><span style="font-weight:bold">
                <font face="微軟正黑體">註冊</font>
              </span></button>
          </center>

        </div>

        <br><br><br><br><br>

      </div>
    </div>
  </div>

  <!-- footer -->
  {% include "app/footer.html" %}

</body>

</html>
