<!DOCTYPE HTML>
<html>

<head>
  <title>SESSION｜活動搜尋結果</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- CSS -->
  {% include "app/css.html" %}

</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">

      <div id="logo">
        <h1>
          <a href="/index"><img src="images/logo.png" width="250" height="65"></a>
        </h1>
      </div>

      <nav id="nav">
        <ul>
          {% include "app/header.html" %}
        </ul>
      </nav>
    </div>

    <div id="banner">
      <div class="index_query">

        <br>
        <h2>
          <img src="images/10.png" class="title_icon">
          <span class="title_font"> &nbsp活動搜尋結果&nbsp </span>
          <img src="images/10.png" class="title_icon">
        </h2>

        <div class="index_query_block">
{% if state %}{% for item in exhibition %}<div class="gallery"><div class="index_content_font">類別：{{ item.categoryName }} ｜ ({{ item.categoryId }})</div><a href="/exhibitions/{{ item.uid }}"><img src="images/checkbox{{ item.categoryId }}.png"></a><br><div class="desc">{{ item.title }}</div>{% if is_login %}{% if item.uid in favorite %}<p name="like" id="{{ item.uid }}" class="like cs">&#10084;</p>{% else %}<p name="like" id="{{ item.uid }}" class="like">&#10084;</p>{% endif %}{% else %}<p class="alert">收藏功能僅限會員喔！</p>{% endif %}<div class="index_content_font text_right">收藏次數：<span id="{{ item.uid }}_likes">{% if favorite_times[item.uid] %}{{ favorite_times[item.uid] }}{% else %}0{% endif %}</span></div></div>{% endfor %}{% else %}<h2 class="message">搜尋條件找不到，請重新設定！</h2>{% endif %}
          <div class="clear"></div>
          {% if state %}
          <select name="pages" id="pages"></select>
          {% endif %}
        </div>

      </div>

    </div>
  </div>
  <!-- footer -->
  {% include "app/footer.html" %}

  <!-- Javascript -->
  {% include "app/js.html" %}
  <script type="text/javascript">
    function update_panel(one_page_count, curr_page) {
      let curr_deal = 1;
      $('.gallery').each(function () {
        if( curr_deal > (one_page_count*(curr_page-1)) && curr_deal <= (one_page_count*curr_page) ) {
          $(this).show();
        }
        else
          $(this).hide();
        curr_deal += 1;
      });
      $("html, body").animate({ scrollTop: 0 }, "slow");
    }
    // 一頁顯示個數
    var one_page_count = 12;
    // 計算展覽個數
    var count = 0;
    $('.gallery').each(function (){ count += 1;});
    var curr_page = 1
    // 將頁碼數量逐一加入
    var html = '';
    for(var i=1 ; i<=Math.ceil(count/one_page_count) ; i++) { html += '<option value="' + i + '">第 ' + i + ' 頁</option>';}
    $('#pages').html(html);
    // 將第一頁資訊公布
    update_panel(one_page_count, curr_page);
    $('#pages').on('change', function() {
      curr_page = Number($('#pages').val());
      update_panel(one_page_count, curr_page);
    });
    

    // 即時更新收藏人數
    function like_count_update(id, action) {
      count = Number($('#' + id + '_likes').html());
      if(action === 'delete') 
        count -= 1;
      else if(action === 'add')
        count += 1;
      $('#' + id + '_likes').html(String(count));
    }

    $('p[name="like"]').on('click', function () {
      data = {"UID": this.id};
      // 原本有收藏，想要取消收藏
      if($(this).hasClass('cs')) {
        //預計要取消收藏
        $.ajax({
          url: '/api/favorites',
          method: 'DELETE',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            // 正常刪除
            $(this).toggleClass('cs');
            // 即時顯示刪除後的數量
            like_count_update(this.id, 'delete');
            console.log(reuslt.msg);
            alert(reuslt.msg);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
            if(errorData.error_type === 'DeleteFavoriteError')
              $(this).toggleClass('cs');
            else if(errorData.error_type === 'LoginRequiredError')
              window.location.href = '/login';
          }
        });
      }
      else {
        $.ajax({
          url: '/api/favorites',
          method: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            // 正常新增
            $(this).toggleClass('cs');
            // 即時顯示新增後的數量
            like_count_update(this.id, 'add');
            console.log(reuslt.msg);
            alert(reuslt.msg);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
            if(errorData.error_type == 'AddFavoriteError') {
              $(this).toggleClass('cs');
            }
            else if(errorData.error_type === 'LoginRequiredError')
              window.location.href = '/login';
          }
        });
      }

    });
  </script>
</body>

</html>
