<!DOCTYPE HTML>
<html>

<head>
  <title>SESSION｜展覽詳細資訊</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  {% include "app/css.html" %}
</head>

<body class="homepage">

  <!-- Header -->
  <div id="header-wrapper">

    <div id="header" class="container">

      <div id="logo">
        <a href="/index"><img src="/images/logo.png" width="250" height="65"></a>
      </div>
      <nav id="nav">
        <ul>
          <!-- header -->
          {% include "app/header.html" %}
        </ul>
      </nav>

    </div>

    <div id="banner">
      <div class="container">
        <div class="index_query">
          <br>
          <h2>
            <img src="/images/10.png" class="title_icon">
            <span class="title_font"> &nbsp 展覽資訊 &nbsp </span>
            <img src="/images/10.png" class="title_icon">
          </h2>
          <br>
          <div class="index_query_block" style="border:5px dashed pink;padding:10px">
            {% if is_found %}

            <div id="exhibtion_info">
              <img src="/images/checkbox{{ result.exhibition.category }}.png" class="show_image">
              <table class="table">
                <tr class="tr">
                  <td colspan="3">{{ result.exhibition.categoryName }}({{ result.exhibition.category }})</td>
                </tr>

                <tr class="tr">
                  <td class="td0"><img src="/images/06.png" class="register_icon"></td>
                  <td class="td">展覽名稱：</td>
                  <td class="td1">{{ result.exhibition.title }}</td>
                </tr>

                <tr class="tr">
                  <td class="td0"><img src="/images/discount.png" class="register_icon"></td>
                  <td class="td">折扣資訊：</td>
                  <td class="td1">
                    {% autoescape false %}
                    {{ result.exhibition.discountInfo | replace("\r\n", "<br />") | replace("\\r\\n", "<br />") }}</td>
                    {% endautoescape %}
                </tr>

                <tr class="tr">
                  <td class="td0"><img src="/images/web_ticket.png" class="register_icon"></td>
                  <td class="td">售票網站：</td>
                  <td class="td1">{{ result.exhibition.webSales }}</td>
                </tr>

                <tr class="tr">
                  <td class="td0"><img src="/images/like.png" class="register_icon"></td>
                  <td class="td">收藏次數：</td>
                  <td class="td1"><span id='favorite_count'>{{ result.exhibition.count }}</span></td>
                </tr>
              </table>
            </div>

            <style>
              #session {
                padding-top: 5%;
                padding-bottom: 5%;
              }
            </style>

            <div id="session">
              <table class="table1">
                {% if result %}
                {% for item in result.sessions %}
                <tr class="tr">
                  <td class="td0"><img src="/images/02.png" class="register_icon"> </td>
                  <td class="td">展覽場次：</td>
                  <td class="td1">{{ result.sessions[item].seq }}</td>
                </tr>
                <tr class="tr">
                  <td class="td0"><img src="/images/ticket.png" class="register_icon"> </td>
                  <td class="td">是否售票：</td>
                  <td class="td1">{{ result.sessions[item].onSales }}</td>
                </tr>
                <tr class="tr">
                  <td class="td0"><img src="/images/price.png" class="register_icon"> </td>
                  <td class="td">票價：</td>
                  <td class="td1">{{ result.sessions[item].price }}</td>
                </tr>
                <tr class="tr">
                  <td class="td0"><img src="/images/clock.png" class="register_icon"> </td>
                  <td class="td">展覽時間：</td>
                  <td class="td1">{{ result.sessions[item].time }}~{{ result.sessions[item].endTime }}</td>
                </tr>
                <tr class="tr">
                  <td class="td0"><img src="/images/01.png" class="register_icon"> </td>
                  <td class="td">展覽地點：</td>
                  <td class="td1">{{ result.sessions[item].location.locationName }}</td>
                </tr>
                <tr class="tr">
                  <td class="td0"><img src="/images/01.png" class="register_icon"> </td>
                  <td class="td">展覽地址：</td>
                  <td class="td1">{{ result.sessions[item].location.location }}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>
            </div>

            <table class="table1 table_blue">
              <tr class="tr">
                <td class="td2"></td>
                <td class="td1"><img src="/images/information.png" class="register_icon">詳細資訊：</td>
              </tr>
              <tr class="tr">
                <td class="td2"></td>
                <td class="td1">
                  {% autoescape false %}
                  {{ result.exhibition.descriptionFilterHtml | replace("\r\n", "<br />") | replace("\\r\\n", "<br />") }}
                  {% endautoescape %}
                </td>
              </tr>
            </table>
            <br>
            <div class="clear"></div>
          </div><br>
          {% else %}
          沒找到
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if is_login %}
  <!-- 漂浮收藏Icon -->
      {% if not result.exhibition.UID in favorite %}
      <a class="float" name="like" id="{{ result.exhibition.UID }}">
      <i class="fa fa-heart-o float-icon" id="favorite_icon"></i>
      {% else %}
      <a class="float cs" name="like" id="{{ result.exhibition.UID }}">
      <i class="fa fa-heart float-icon" id="favorite_icon"></i>
      {% endif %}
    </a>
    <div class="label-container">
      {% if not result.exhibition.UID in favorite %}
      <div class="label-text" id="favorite_message">收藏</div>
      {% else %}
      <div class="label-text" id="favorite_message">取消收藏</div>
      {% endif %}
      <i class="fa fa-play label-arrow"></i>
    </div>
  {% endif %}

  <!-- Footer -->
  {% include "app/footer.html" %}

  <!-- JavaScript -->
  {% include "app/js.html" %}

  <script type="text/javascript">
    //即時更新收藏人數
    function like_count_update(id, action) {
      count = Number($('#favorite_count').html());
      if(action === 'delete')
        count -= 1;
      else if(action === 'add')
        count += 1;
      $('#favorite_count').html(String(count));
    }

    $('a[name="like"]').on('click', function () {
      data = {"UID": this.id};
      // 原本有收藏，想要取消收藏
      if($(this).hasClass('cs')) {
        //預計要取消收藏
        $.ajax({
          url: '/api/favorites',
          method: 'DELETE',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            // 正常刪除
            $(this).toggleClass('cs');
            $("#favorite_icon").removeClass('fa-heart');
            $("#favorite_icon").addClass('fa-heart-o');
            $("#favorite_message").html('收藏');
            // 即時顯示刪除後的數量
            like_count_update(this.id, 'delete');
            console.log(reuslt.msg);
            alert(reuslt.msg);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
            if(errorData.error_type === 'DeleteFavoriteError') {
              $(this).toggleClass('cs');
              $("#favorite_icon").removeClass('fa-heart');
              $("#favorite_icon").addClass('fa-heart-o');
              $("#favorite_message").html('收藏');
            }
            else if(errorData.error_type === 'LoginRequiredError')
              window.location.href = '/login';
          }
        });
      }
      else {
        $.ajax({
          url: '/api/favorites',
          method: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            // 正常新增
            $(this).toggleClass('cs');
            $("#favorite_icon").addClass('fa-heart');
            $("#favorite_icon").removeClass('fa-heart-o');
            $("#favorite_message").html('取消收藏');
            // 即時顯示新增後的數量
            like_count_update(this.id, 'add');
            console.log(reuslt.msg);
            alert(reuslt.msg);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
            if(errorData.error_type == 'AddFavoriteError') {
              $(this).toggleClass('cs');
              $("#favorite_icon").addClass('fa-heart');
              $("#favorite_icon").removeClass('fa-heart-o');
              $("#favorite_message").html('取消收藏');
            }
            else if(errorData.error_type === 'LoginRequiredError')
              window.location.href = '/login';
          }
        });
      }

    });
  </script>
</body>

</html>
