@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

body
{
	font-family: 'Open Sans', "Noto Sans TC", sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #E6E6E6;
}

.nav {
    min-width: 100vw;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    z-index: 99999;
}

.logo {
    height: 50px;
    width: auto;
}

.main_content {
    padding-top: 10%;
    padding-bottom: 5%;
    min-height: calc(100vh - 60px);
}

.fa {
    font-size: 1.75em;
}

.fa:hover {
    cursor: pointer;
}

.fa-eye {
    color: #599AE5;
}

.fa-eye:hover {
    color: #0058E8;
}

.fa-trash {
    color: #E55959;
}

.fa-trash:hover {
    color: #E80000;
}
