h2 {
    font-family: "微軟正黑體";
}
    h2 > span {
        font-family: "微軟正黑體";
        font-weight: bold;
    }

nav > ul > li {
    font-family: "微軟正黑體";
    font-size: 1.5em;
	font-weight: bold;
}
    nav > ul > li > span {
        font-weight: bold;
	}

input {
	padding-left: 10px;
	padding-right: 10px;
	font-family: "微軟正黑體";
	font-size: 16px;
}

.index_query {
    padding: 10px;
    background-color: white;
    opacity: 0.65;
	float:center;
	text-align:center;
	min-height: 60vh;
}

.login_block {
    padding-right:10px;
    background-color: white;
    opacity: 0.85;
	float:right;
	text-align:center;
	position: relative;
    top: 70px;
    
}

.register_block {
    padding:10px; 	
	margin:0px auto;
	text-align:center;	
	width:50%;
    
}

.index_query_block {    
    background-color:white;
    opacity: 0.85;
	margin:0px auto;
	text-align:center;	
	width:70%;
}


.index_icon {
    width: 45px;
    height: 45px;
    position: relative;
    top: 15px;
    left: -10px;
}

.register_icon {
    width: 32px;
    height: 30px;
	position: relative;
    top: 5px;
}

.index_bar_icon {
    width: 65px;
    height: 55px;   
}

.index_title_icon {
    width: 35px;
    height: 32px;
	float:center;
}

.index_input {
    width: 70%;
    background-color: #FFFFFF;
	font-family:微軟正黑體;
	font-size:18px;
	height:35px;
	border:2px solid #007799;
	
}

.index_input:focus {
    background-color: #FFFFBB;
}

.index_input:not(:focus) {
    background-color: #FFFFFF;
}

.index_advance {
    font-family: "微軟正黑體";
    font-weight: bold;
    margin-left: 550px;
}

.index_profile_font{
	   font-family:微軟正黑體;
	   font-size:24px;
	   color:#444444;
	   font-weight:bold;	   
	   text-align:center;
   }

.index_advance_panel {
    padding: 10px;
    width: 63%;
    position: relative;
    left: 220px;
    background-color: pink;
    opacity:0.85;
}

.index_date_panel {
    padding: 10px;
    width: 95%;
    left: 20px;
    position: relative;
    background-color: white;
    opacity:0.85;
}

.index_category_panel {
    padding: 10px;
    width: 95%;
    left: 20px;
    position: relative;
    background-color: white;
    opacity:0.85;
}

input[type="checkbox"] {
    display: none;
}

span.category_title {
    font-family: "微軟正黑體";
    font-size: 1.5em; 
    font-weight: bold;
    margin-left: 10px;
    color: #003377
}

span.index_query_button{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 1.2em;
}

span.index_category {
    font-family: "微軟正黑體";
    font-size: 1.5em;
    color: #003377;
    font-weight: bold;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.index_content_font{
	font-family:微軟正黑體;
	font-size:20px;
	color:#003377;
	font-weight:bold;
}

.title_font{
	font-family:微軟正黑體;
	font-size:30px;
	color:#000;
	font-weight:bold;
}

.menu_font{
	font-family:微軟正黑體;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	position: relative;
	top:-15px;
}

.title_icon{
	width:32px; 
	height:32px;
	float:center;
}

.login_image{	
	width: 75%;
	float:left;
	padding-left:8px;
	padding-top:8px;
}

.register_image{	
	width: 28%;	
}

.show_image{	
	width: 30%;
	float:left;
	position: relative;
	top: 50px;
	padding: 10px;
	
}

.clear{
	clear: both;
}
	
div.gallery{
	margin: 10px;
	border: 3px solid #000;
	float: left;
	width: 250px;
	min-height: 600px;
	opacity:0.95;
	padding:10px;
	margin: 15px;
		
}

div.gallery:hover {
	border: 3px solid 	#FFBB00;
}

div.gallery img {		
	width:100%;		
}

.desc {
	font-family: 微軟正黑體;
	font-size: 25px;
	padding: 10px;
	min-height: 250px;
	text-align: center;
	font-weight: bold;
	color: black;
	word-break: break-all;
}
	
.like{ 
	font-size:70px;  
	color:#ccc; 
	cursor:pointer;
	position:relative;
	top:-40px;
	float:center;		
}
		
.cs{
	color:#FF88C2;
}
	
.like1{ 
	font-size:70px;  
	color:#FF88C2; 
	cursor:pointer;
	position:relative;
	top:-40px;
	float:center;		
}
		
.cs1{
	color:#ccc;
}

.table{
		 width:70%;		
		 float:right;
		 font-weight:bold;
		 padding: 10px;
		 font-family:微軟正黑體;
		 font-size:20px;
		 color:black;
		 
}
	
.table1{
	width: 100%;
	border: 2px;
	background-color: pink;
	float: center;
	font-weight: bold;
	padding: 10px;
	font-family: 微軟正黑體;
	font-size: 20px;
	color: black;		 
}

.table_blue{
	background-color: #A8D7F4;
}
	
.td{
	vertical-align:middle;
    width:100px;
	height:60px;
	text-align: center;		
}
	
.td1{
	vertical-align:middle;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width:300px;
	word-break: break-all;
	height:60px;
	text-align: left;
}
	
.td0{
	vertical-align:middle;
    width:40px;
	height:60px;
	text-align: center;
}
	
.td2 {
	vertical-align:middle;
    width:10px;
	height:60px;
	text-align: center;
}

.alert {
	font-family: "Noto Sans TC";
	font-size: 1.5em;
	color: red;
	font-weight:bold;
	padding-bottom: 10px;
}

.message {
	font-family: "Noto Sans TC";
	font-size: 4.0em;
	color: red;
	font-weight:bold;
	padding-top: 2.5em;
	padding-bottom: 10px;
}

/* 漂浮Icon */
.label-container{
	position: fixed;
	font-family: "Noto Sans TC";
	bottom: 48px;
	right: 105px;
	display: table;
	visibility: hidden;
	z-index: 200;
}

.label-text{
	color: #FFF;
	background: rgba(51,51,51,0.5);
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	border-radius: 3px;
}

.label-arrow{
	display: table-cell;
	vertical-align: middle;
	color: #333;
	opacity: 0.5;
}

.float{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #06C;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	z-index: 200;
}

.float:hover {
	cursor: pointer;
}

.float-icon{
	font-size: 1.78em !important;
	margin-top: 14px;
}

a.float + div.label-container {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
	visibility: visible;
	opacity: 1;
}

#pages {
	font-family: "Noto Sans TC";
	font-size: 1.5em;
	border: dashed;
}
