/*
	MegaCorp by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Header */

#header {
	overflow: hidden;
	position: relative;
		height: 8em;
}

/* Logo */

	#logo {
		position: absolute;
		top: 2em;
		left: 0;
	}
	
	#logo h1 a {
		float: left;
		padding: 0em 0.25em 0em 0em;
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 2.50em;
		font-weight: 800;
		color: #FFF;
	}
	
/* Menu */

	#nav {
		position: absolute;
		top: 1.1em;
		right: 0;
	}
	
	#nav ul {
		text-align: center;
	}
	
	#nav li {
		display: inline-block;
	}
	
	#nav a {
		display: block;
		float: left;
		padding: 1em;
		border-radius: 4px;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		color: #FFF;
		outline: 0;
	}
	
	#nav .current_page_item {
	}
	
	#nav .current_page_item a {
		background: #f467a0;
		box-shadow: inset 0px -15px 10px 0px rgba(0,0,0,0.10);
		text-shadow: none;
		color: #FFFFFF;
	}
	
	#nav a:hover {
	}
