<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SESSION｜類別管理</title>

  <!-- General CSS -->
  {% include "admin/css.html" %}
</head>

<body>
  <!-- Header -->
  {% include "admin/header.html" %}

  <div class="container main_content">

    <div class="table-responsive">
      <table id="table" data-toggle="table" class="table table-striped table-sm">
        <thead>
          <tr>
            <th data-field="id">類別編號</th>
            <th data-field="name">類別名稱</th>
          </tr>
        </thead>
        <tbody>
          {% if result.state %}
          {% for item in result.categoryList %}
          <tr>
            <td>{{ item.categoryId }}</td>
            <td><input type="text" name="category" class="form-control" id="{{ item.categoryId }}" value="{{ item.categoryName }}" /></td>
          </tr>
          {% endfor %}
          {% else %}
          資料庫資料連線錯誤
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>

  <!-- Footer -->
  {% include "admin/footer.html" %}

  <!-- JavaScript -->
  {% include "admin/js.html" %}
  <script type="text/javascript">
    $(() => {
      $("#table > tbody").on('change', 'input[name="category"]', sync);

      function sync() {
        let id = $(this).prop('id');
        let value = $(this).val();
        let data = {id, value};

        //即時更新回資料庫
        $.ajax({
          url: '/api/categoryList',
          method: 'patch',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            console.log(reuslt.msg);
            alert("｛" + id + "｝" + reuslt.msg);
          },
          error: (error) => {
            console.log(error);
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
            if (error.status === 302) {
              window.location.href = '/admin/login';
            }
          }
        });
      }
    });
  </script>
</body>

</html>
