<div class="nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/admin/index"><img class="logo" src="/images/logo.png"></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/admin/index">Dashboard</a>
    <a class="p-2 text-dark" href="/admin/members">會員管理</a>
    <a class="p-2 text-dark" href="/admin/categories">類別管理</a>
  </nav>
  <a class="btn btn-outline-primary" href="/logout">登出</a>
</div>
