<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SESSION｜Dashboard</title>

  <!-- General CSS -->
  {% include "admin/css.html" %}
</head>

<body>
  <!-- Header -->
  {% include "admin/header.html" %}

  <div class="container main_content">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">展覽</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title number">{{ dashboard.exhibition}}</h1>
          <h2 class="text-muted"> 個</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">單位</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title number">{{ dashboard.unit}}</h1>
          <h2 class="text-muted"> 個</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">地點</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title number">{{ dashboard.location}}</h1>
          <h2 class="text-muted"> 個</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">會員</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title number">{{ dashboard.member}}</h1>
            <h2 class="text-muted"> 位</h2>
          </div>
        </div>

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">收藏</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title number">{{ dashboard.favorite}}</h1>
            <h2 class="text-muted"> 次</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include "admin/footer.html" %}

  <!-- JavaScript -->
  {% include "admin/js.html" %}
  <script type="text/javascript">
    $('h1.number').each(function (){
      $(this).prop('Counter', 0).animate({
        Counter: Number($(this).text())
      }, {
        duration: 4000,
        easing: 'swing',
        step: function(now) {
          $(this).text(Math.ceil(now));
          $(this).number(true, 0);
        }
      });
    });
  </script>
</body>

</html>
