<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SESSION｜管理員登入</title>

    <!-- General CSS -->
    {% include "admin/css.html" %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_signin.css') }}">
</head>

<body>
  <div class="container main text-center">
    <form class="form-signin">
        <img class="mb-4" src="{{ url_for('static', filename='images/admin_logo.png') }}" alt="" width="250" height="250">

        <label for="inputEmail" class="sr-only">電子郵件</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="電子郵件" required="" autofocus="">
        <label for="inputPassword" class="sr-only">密碼</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密碼" required="">
        <button class="btn btn-lg btn-primary btn-block" type="button" id="loginButton">登入</button>

        <p class="mt-5 mb-3 text-muted">請使用管理員身分登入</p>
    </form>
  </div>

  <!-- Scripts -->
  {% include "admin/js.html" %}

  <!-- Footer -->
  {% include "admin/footer.html" %}

  <script type="text/javascript">
    $(() => {
      const accountInput = $('#inputEmail');
      const passwordInput = $('#inputPassword');
    
      $('#loginButton').on('click', login);
    
      function login() {
        let account = accountInput.val();
        let password = passwordInput.val();
        if (account.trim() == "" || password.trim() == "") {
          alert('請輸入帳號或密碼！');
          return;
        }
        let data = {account, password};
        console.log(data);
        $.ajax({
          url: '/api/admin_login',
          method: 'post',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: (reuslt) => {
            console.log(reuslt.msg);
            alert(reuslt.msg);
            window.location.href = "/admin/index";
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
          }
        });
      }
    });
  </script>
</body>

</html>
