<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SESSION｜檢視會員資料</title>

  <!-- General CSS -->
  {% include "admin/css.html" %}
</head>

<body>
  <!-- Header -->
  {% include "admin/header.html" %}

  <div class="container main_content">
    <h2><i class="far fa-address-card"></i>  個人資料</h2>  
    <table id="profile" data-toggle="table" data-pagination="true">
      <thead>
        <tr>
          <th data-sortable="true" data-field="member">會員帳號</th>
          <th data-field="name">會員暱稱</th>
          <th data-field="identity">身分別</th>
          <th data-field="createDate">建立日期</th>
          <th data-field="delete">刪除帳號</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ member.account }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.identity }}</td>
            <td>{{ member.createDateTime }}</td>
            <td class="text-center"><a name="member_delete" id="{{ member.account }}_delete"><i class="fa fas fa-trash"></i></a></td>
          </tr>
      </tbody>
    </table>
    
    <br/>
    <h2><i class="fas fa-award"></i>  收藏列表</h2>  
    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-toggle="true">
      <thead>
        <tr>
          <th data-sortable="true" data-field="category">分類</th>
          <th data-sortable="true" data-field="UID">UID</th>
          <th data-field="title">標題</th>
          <th data-field="view">詳情</th>
        </tr>
      </thead>
      <tbody>
          {% if result %}
          {% for item in favorite %}
          <tr>
            <td>{{ item.categoryName }}({{ item.categoryId }})</td>
            <td>{{ item.UID }}</td>
            <td>{{ item.title }}</td>
            <td class="text-center"><a href="/exhibitions/{{ item.UID }}" target="blank"><i class="fa far fa-eye"></i></a></td>
          </tr>
          {% endfor %}
          {% else %}
          該用戶沒有收藏展覽
          {% endif %}
      </tbody>
    </table>

  </div>

  <!-- Footer -->
  {% include "admin/footer.html" %}

  <!-- JavaScript -->
  {% include "admin/js.html" %}
  <script type="text/javascript">
    $(() => {
      $('#profile > tbody').on('click', 'a[name="member_delete"]', member_delete);

      function member_delete() {
        let object = $(this).prop('id').split('_');
        let account = object[0];
        let action = object[1];
        let data = {account};

        //移除帳號
        $.ajax({
          url: '/api/member/' + account,
          method: 'DELETE',
          dataType: 'json',
          contentType: 'application/json',
          success: (reuslt) => {
            console.log(reuslt.msg);
            alert(reuslt.msg);
            window.location.href = '/admin/members'
            $('#table').bootstrapTable('removeByUniqueId', account);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
          }
        });
      }
    });
  </script>
</body>

</html>
