<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SESSION｜會員管理</title>

  <!-- General CSS -->
  {% include "admin/css.html" %}
</head>

<body>
  <!-- Header -->
  {% include "admin/header.html" %}

  <div class="container main_content">

    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-unique-id="member">
      <thead>
        <tr>
          <th data-sortable="true" data-field="member">會員帳號</th>
          <th data-field="name">會員暱稱</th>
          <th class="text-center" data-field="view">檢視資料</th>
          <th class="text-center" data-field="delete">刪除帳號</th>
        </tr>
      </thead>
      <tbody>
          {% if result.state %}
          {% for item in result.memberList %}
          <tr>
            <td>{{ item.account }}</td>
            <td>{{ item.name }}</td>
            <td><a name="member_view" id="{{ item.account }}_view"><i class="fa far fa-eye"></i></a></td>
            <td><a name="member_delete" id="{{ item.account }}_delete"><i class="fa fas fa-trash"></i></a></td>
          </tr>
          {% endfor %}
          {% else %}
          資料庫資料連線錯誤
          {% endif %}
      </tbody>
    </table>

  </div>

  <!-- Footer -->
  {% include "admin/footer.html" %}

  <!-- JavaScript -->
  {% include "admin/js.html" %}
  <script type="text/javascript">
    $(() => {
      $('#table > tbody').on('click', 'a[name="member_view"]', member_view);
      $('#table > tbody').on('click', 'a[name="member_delete"]', member_delete);

      function member_view() {
        let object = $(this).prop('id').split('_');
        let account = object[0];
        let action = object[1];
        let data = {account};

        window.location.href = '/admin/member/' + account;
      }

      function member_delete() {
        let object = $(this).prop('id').split('_');
        let account = object[0];
        let action = object[1];
        let data = {account};

        //移除帳號
        $.ajax({
          url: '/api/member/' + account,
          method: 'DELETE',
          dataType: 'json',
          contentType: 'application/json',
          success: (reuslt) => {
            console.log(reuslt.msg);
            alert(reuslt.msg);
            $('#table').bootstrapTable('removeByUniqueId', account);
          },
          error: (error) => {
            let errorData = error.responseJSON;
            alert(errorData.error_type + ": " + errorData.error_msg);
          }
        });
      }
    });
  </script>
</body>

</html>
